<div class="container">
  <table mat-table [dataSource]="myData">
    <ng-container matColumnDef="prod">
      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Prod</th>
      <td mat-cell *matCellDef="let row">{{ row.data["col1"] }}</td>
    </ng-container>
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Av Stock</th>
      <td mat-cell *matCellDef="let row">{{ row.data["col1"] }}</td>
    </ng-container>

    <ng-container *ngFor="let col of allColumns">
      <ng-container [matColumnDef]="col.key">
        <th
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="col.colspan"
          [attr.rowspan]="col.rowspan"
        >
          {{ col.key }}
        </th>
        <td
          mat-cell
          [ngClass]="{ 'highlighed-column': columnHighlight }"
          *matCellDef="let row"
        >
          {{ row.data[col.key] }}
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="mainHeaderColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="subHeaderColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: allComplexDataCols"></tr>
  </table>
</div>
