
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dynamically-added-class{
    color: red;
}

.clickable{
    cursor: pointer;
}

#p-tag-2{
    font-size: larger;
}